.DownloadMiddle{
	poisiton: absolute;
	left: 50px;
	height: 600px;
	margin-left: 40px;
	margin-top: 40px;
}

h1{
	font-family: RobotoCondensed-bold;
	font-size: 19px;
	}
	p
	{
	font-family: RobotoCondensed-Regular;
	font-size: 17px;
	}

/*Grid Main ----------------------------------------------------*/
.GridMain{
	display: flex;
}
.Grid{  
	flex: 1 1 300px;
		padding: 10px;
		font-size: .9rem;
		color: #6e0505;
}



/*Ads Box ------------------------------------------------------*/
.EBox{
	position: relative;
	height: 200px;
}


